
body { 
    margin :0;
    

}
.container {
    display:flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px;
}

.box {
    padding: 20px;
    color: white;
    text-align: center;
}

.small { background:red; }
.medium { background:green; }
.large { background:blue; }


.small, .medium, .large {
    display: none;
    font-size: 2rem;
    text-align: center;
    margin: 20px auto;
    padding: 20px
}

@media (max-width: 479px) {
    .container {
        flex-direction: column;
    }
    .box {
        width:100%;
    }
}

@media (max-width: 479px) {
    .small {
        display: block;
        background: red;
        color: white;
    }
}
    .small h2 {
        font-size: 1.5rem;
    }


@media (min-width: 480px) and (max-width: 1023px) {
    .medium {
        display: block;
        background: green;
        color: white;
    }
}


@media (min-width: 1024px) {
    .large {
        display: block;
        background: blue;
        color: white;
    }
}

@media (max-width: 479px) {
    body {
        background-color: red;
    
    }
}
@media (min-width:480px) and (max-width:1023px) {
    body {
        background-color: green;
    }
}

@media (min-width:1024px) {
    body {
        background-color: blue;
    }
}